.contenedorCarrousel {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media screen and (max-width: 320px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 1px;
      color: black;
      margin-top: 0px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: gray;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 250px;
      color: black;
      margin-top: 0px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: gray;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage3 {
      margin-left: -80px;
      .image3 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage4 {
      margin-top: -214px;
      margin-left: -0px;
      .image4 {
        width: 100px;
        height: 410px;
        object-fit: cover;
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 150px;
        height: 200px;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 375px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 15px;
      color: #057139;
      margin-top: -0px;
      user-select: none;
      background-color: white;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 300px;
      color: #057139;
      margin-top: 0px;
      user-select: none;
      background-color: white;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage3 {
      margin-left: -80px;
      .image3 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage4 {
      margin-top: -214px;
      margin-left: -0px;
      .image4 {
        width: 100px;
        height: 410px;
        object-fit: cover;
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 70px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 150px;
        height: 200px;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 425px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 23px;
      color: #057139;
      margin-top: -10px;
      user-select: none;
      background-color: white;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 420px;
      color: #057139;
      margin-top: -10px;
      user-select: none;
      background-color: white;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage3 {
      margin-left: -90px;
      .image3 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage4 {
      margin-top: -214px;
      margin-left: -0px;
      .image4 {
        width: 180px;
        height: 410px;
        object-fit: cover;
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 170px;
        height: 200px;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 768px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 110px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 640px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage3 {
      margin-left: -90px;
      .image3 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage4 {
      margin-top: -214px;
      margin-left: -0px;
      .image4 {
        width: 180px;
        height: 410px;
        object-fit: cover;
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 80px;
        height: 200px;
        object-fit: cover;
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 170px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 250px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 1060px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage3 {
      margin-left: -150px;
      .image3 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage4 {
      margin-top: -219px;
      margin-left: 1px;
      .image4 {
        width: 260px;
        height: 410px;
        object-fit: cover;
        
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 290px;
        height: 200px;
        object-fit: cover;
        
      }
    }
  }

  @media screen and (min-width: 1440px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 250px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 1060px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage3 {
      margin-left: -150px;
      .image3 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage4 {
      margin-top: -219px;
      margin-left: 1px;
      .image4 {
        width: 260px;
        height: 410px;
        object-fit: cover;
        
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 290px;
        height: 200px;
        object-fit: cover;
        
      }
    }
  }

  @media screen and (min-width: 2560px) {
    #left {
      position: absolute;
      font-size: 40px;
      margin-left: 250px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }
    #right {
      position: absolute;
      font-size: 40px;
      margin-left: 1060px;
      color: gray;
      margin-top: -10px;
      user-select: none;
      &:hover {
        cursor: pointer;
        color: #bfd133;
        transform: scale(1.2);
        transform-style: flat;
      }
    }

    .contenedorImage1 {
      .image1 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage2 {
      .image2 {
        width: 140px;
        height: 200px;
        object-fit: cover;
       
      }
    }

    .contenedorImage3 {
      margin-left: -150px;
      .image3 {
        width: 140px;
        height: 200px;
        object-fit: cover;
        
      }
    }

    .contenedorImage4 {
      margin-top: -219px;
      margin-left: 1px;
      .image4 {
        width: 260px;
        height: 410px;
        object-fit: cover;
        
      }
    }

    .contenedorImage5 {
      margin-top: -5px;
      .image5 {
        width: 140px;
        height: 200px;
        object-fit: cover;
       
      }
    }

    .contenedorImage6 {
      margin-top: -5px;
      .image6 {
        width: 290px;
        height: 200px;
        object-fit: cover;
        
      }
    }
  }
}
