.Header {
  display: flex;

  @media screen and (max-width: 350px) {
    background-color: aqua;
    .logo {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 5px;
      margin-top: 15px;
      margin-left: 10px;
    }

    li {
      background-color: #88c261;
      color: black;
      border-radius: 5px;
      padding: auto;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 11px;
      &:hover {
        background-color: #bfd133;
      }
    }
  }

  @media screen and (min-width: 375px) {
    .logo {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 5px;
      margin-top: 15px;
      margin-left: 10px;
    }

    li {
      background-color: #88c261;
      color: black;
      border-radius: 5px;
      padding: auto;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
      &:hover {
        background-color: #bfd133;
      }
    }
  }

  @media screen and (min-width: 425px) {
    .logo {
      width: 100px;
      height: 50px;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 15px;
      margin-top: 25px;
      margin-left: 10px;
    }

    li {
      background-color: #88c261;
      color: black;
      border-radius: 5px;
      padding: auto;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 16px;
      &:hover {
        background-color: #bfd133;
      }
    }
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 100px;
      height: 50px;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 15px;
      margin-top: 25px;
      margin-left: 10px;
    }

    li {
      background-color: #88c261;
      color: black;
      border-radius: 5px;
      padding: auto;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 18px;
      &:hover {
        background-color: #bfd133;
      }
    }
  }

  @media screen and (min-width: 1440px) {
  }

  @media screen and (min-width: 2560px) {
  }
}
